<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzl.rnplugin">

    <application>
        <activity
            android:name=".RnPluginActivityProxy"
            android:exported="false"
            android:process=":rnplugin"/>

        <activity android:name=".PluginHelperActivity"
                  android:exported="false"
                  android:process=":rnplugin">
        </activity>
    </application>

</manifest>